*{
    font-family: sans-serif;
}
.container {
    margin: 0 auto;
    max-width: 100%;
    
}

#header {
    background: rgb(158,210,247);
    background: linear-gradient(0deg, rgba(158,210,247,1) 0%, rgba(79,164,244,1) 100%);
    box-shadow: 0 2px 3px 0 #4FA4F4;
    border-radius: 2px;
    padding-bottom: 2px;
}

h1 {
    font-size: 48px;
    margin: 0 auto 10px 0;
    color: #FAFAFA;
    text-align: center;

}

h2 {
    font-size: 24px;
    margin:  0 0 0 0;
    font-weight: 300;
    color: rgb(47, 101, 122);
    text-align: center;
}

#nav{
    background-color: #9ed2f7;
    position: relative;
    border-end-end-radius: 8px;
    box-shadow: 0 2px 3px 0 #4FA4F4;
    margin-top: 0%;
    justify-content: space-around;
    display: flex;
    margin-bottom: 0;
}

#nav a{
    font-size: 16px;
    text-transform: uppercase;
    color: #FAFAFA;
    text-decoration: none;
    line-height: 20px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
	padding: 10px;
    width: 20%;
    
}

#nav a.cart {
    color: rgb(47, 101, 122);
}

#nav a.sign {
    color: rgb(47, 101, 122);
}

#nav a:nth-child(1):hover{

    background: #62c5c0;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

#nav a:nth-child(2):hover{
    background: #62c5c0;
    border-radius: 8px;
    transition: all .5s ease 0s;
}



#nav a:nth-child(3):hover{

    background: #62c5c0;
    border-radius: 8px;
    transition: all .5s ease 0s;

}



#nav a:nth-child(4):hover{

    background: #62c5c0;
    border-radius: 8px;
    transition: all .5s ease 0s;
}



#nav a:nth-child(5):hover{

    background: #62c5c0;
    border-radius: 8px;
    transition: all .5s ease 0s;
}


#nav a.cart:hover{

    background: #62c5c0;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

#nav a.sign:hover{

    background: #62c5c0;
    border-radius: 8px;
    transition: all .5s ease 0s;
}



#filter {
    display: inline-flex;
    position: relative;
    width: 100%;
    justify-content: center;
}


#filter ul{
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
    width: fit-content;
}

#filter li {
    display: inline-block;
    color: rgb(47, 101, 122);
    font-size: 16px;
    line-height: 18px;
    position: relative;
    z-index: 1;
    margin-right: 15px;
}

#filter li:hover{
    transform: scale(1.02);
}

#filter li .btn {
    border-radius: 8px;
    background-color: #4FA4F4;
    border: 1px solid #4fa4f4e7;
    color: white;
    width: 120px;
    height: 30px;
    text-transform: uppercase;
    font-weight: 300;
    box-shadow: 0 2px 3px 0 rgb(134, 186, 255);

}

#filter li .btn:hover {
    background-color: #62c5c0;
}

#search {
    display: flex;
    height: auto;
    justify-content: center;
}

#search input{
    width: 50%;
    border-radius: 8px;
    border: 1px solid rgb(47, 101, 122);
    margin-right: 5px;
    box-shadow: 0 2px 3px 0 rgba(134, 186, 255, 0.541);

}

#search .sbtn {
    border-radius: 8px;
    background-color: #4FA4F4;
    border: 1px solid #4fa4f4e7;
    color: white;
    width: 140px;
    height: 30px;
    text-transform: uppercase;
    font-weight: 300;
    box-shadow: 0 2px 3px 0 rgb(134, 186, 255);
}

#search .sbtn:hover{
    background-color: #62c5c0;
    transform: scale(1.02);
}


.mainside {
    display: flex;
    width: 100%;
}

#content {
	width: 90%;
    height: auto;
    display: flex;
}
#sidebar {
	width: 24%;
	margin-right: 2%;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 8px;
    border: 0.5px solid #c9e5fd;
    background-color: #f4f7fc; 
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 3px 0 rgb(134, 186, 255);
    height: fit-content;
    box-sizing: border-box;
}



.choice h5 {
    text-transform: uppercase;
    text-align: center;
    font-size: 19px;
    color:#62c5c0;
}

.choice ul{
    list-style: none;
    text-align: center;
    padding-bottom: 10px;
}

.choice li{
    text-align: left;
    line-height: 18px;
    color: #3882a5;
    padding-bottom: 15px;
}

#parent	{
    margin-top: 0%;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin:20px auto;
    background-color: rgb(255, 255, 255);
}

.child {
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	margin-bottom: 1.5%;
	border: 0.5px solid #c9e5fd;
    background-color: #f4f7fc; 
    backdrop-filter: blur(5px);
    border-radius: 8px;
    display: block;
    position: relative;
    
    
}

.child:hover{
    border: 0.5px solid #62c5c0;
    box-shadow: 0 2px 3px 0 rgb(134, 186, 255);
    transition-delay: 0.1s;
}

.product {
    display: block;
    text-decoration: none;
    color: #5f88af;
    
}

.description {
    text-align: justify;
    font-size: 14px;
    font-weight: 300 ;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.price {
    text-align: start;
    color: red;
    font-weight: 400;
    margin-bottom: 5px;
}

.product-photo{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: min-content;
}
.product-photo img {
    object-fit:contain;
    width: 100%;
    height: 300px;
    border-radius: 8px;
}

.product-photo:hover{
    transform: scale(1.05);
    transition-delay: 0.1s;
    transition-timing-function: linear;
}

@media (max-width: 400px) {
	.child {
		width: 100%;
	}
    .choice ul{
        font-size: 13px;
        margin-left: -6px;
    }
    .choice li{
        margin-left: -6px;
    }
}
@media (min-width: 400px) and (max-width: 700px) {
	.child {
		width: calc(100% / 2 - 1.5% * 1 / 2);
	}
	.child:not(:nth-child(2n)) {
		margin-right: 1.5%;
	}
    .choice ul{
        font-size: 14px;
        margin-left: -9px;
    }
    .choice li{
        margin-left: -6px;
    }
}
@media (min-width: 700px) and (max-width: 1000px) {
	.child {
		width: calc(100% / 3 - 1.5% * 2 / 3);
	}
	.child:not(:nth-child(3n)) {
		margin-right: 1.5%;
	}
    .choice ul{
        font-size: 16px;
        margin-left: -6px;
    }
    .choice li{
        margin-left: -3px;
    }
}
@media (min-width: 1000px) {
	.child {
		width: calc(100% / 4 - 1.5% * 3 / 4);
	}
	.child:not(:nth-child(4n)) {
		margin-right: 1.5%;
	}

    .choice ul{
        font-size: 18px;
    }
}

#footer {
    background-color: #5f88af;;
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 2% 0;
    height: 18%;
}

#footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#footer li{
    display: inline-block;
}

#footer li a{
    padding: 6px;
    font-size: 12px;
    text-decoration: none;
    color: white;
}

#footer li a:hover{
    color: #f0f5fbf6;
    transition-duration: 0,2s;
}

body{
    margin-right: 0;
    margin-left: 0;
}